.players-details {
  position: absolute;
  top: -155px;
  display: flex;
  justify-content: space-evenly;
  width: 640px;

  h2 {
    padding-bottom: 12px;
    text-align: center;
  }

  .turn {
    color: red;
  }

  &__single-player-info {
    border: 2px solid black;

    img {
      width: 22px;
    }
  }
}
