.players-details {
  position: absolute;
  top: -155px;
  display: flex;
  justify-content: space-evenly;
  width: 640px;

  h2 {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .turn {
    color: red;
  }

  .total-score {
    margin-bottom: 10px;
    text-align: center;
  }

  &__single-player-info {
    border: 1px solid black;
    padding: 2px 4px;

    img {
      width: 22px;
    }
  }
}
