.players-details {
  position: initial;
  display: flex;
  justify-content: space-evenly;
  width: 360px;
  top: 0px;

  &--white {
    position: absolute;
    top: -20%;
    transform: translateY(-50%);
  }

  &--black {
    position: absolute;
    top: 120%;
    transform: translateY(-50%);
  }

  @include breakpoint(mobileCustom) {
    width: 480px;

    position: absolute;
    top: -130px;

    &--white {
      position: unset;
      top: unset;
      transform: none;
    }

    &--black {
      position: unset;
      top: unset;
      transform: none;
    }
  }
  @include breakpoint(tabletSmall) {
    width: 640px;
  }

  @include breakpoint(desktop) {
    top: -130px;
    width: 720px;
  }

  h2 {
    text-align: center;
  }

  .total-score {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
  }

  &__single-player-info {
    border: $border-solid-dark;
    padding: 2px 4px;

    img {
      width: 22px;
    }
  }
}
