// Background Colors
$bg-color-square-orange: #f07705;
$bg-color-square-gray: #5f5f5d;
$bg-color-square-beige: #e4e3c9;
$bg-color-page-beige: #c3dbe1;

// Primary
$color-square-beige: #e4e3c9;
$color-square-gray: #5f5f5d;

// Accent Colors
$color-accent-blue: #1e99cb; // cornflower
$color-accent-pink: #ee3b6f; // watermelon
$color-accent-yellow: #fff73c; // banana
$color-accent-green: #3caf8c; // mint

// Secondary Colors
$color-secondary-blue: #0866a0; // blueberry

// Font Sizes
$font-size-n: 100px;
$font-size-h1: 42px;
$font-size-p: 16px;

// Spacing
$spacing-none: 0;
$spacing-tiny: 4px;
$spacing-x-small: 12px;
$spacing-small: 20px;
$spacing-medium: 28px;

// Borders
$border-solid-dark: 1px solid #060606;
$border-solid-dark-bold: 2px solid #060606;
$border-solid-orange: 1px solid #f07705;
