body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./styles/chess-board-details.scss";

.chess-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 640px;
  border: 2px solid black;

  .row {
    display: flex;
  }

  .dark {
    color: #5f5f5d;
    background-color: #5f5f5d;
    width: 80px;
    height: 80px;
  }

  .white {
    color: beige;
    background-color: beige;
    width: 80px;
    height: 80px;
  }
}
