* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

@import "./styles/chess-board-details.scss";
@import "./styles/players-details.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chess-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 640px;
  height: 640px;
  border: 2px solid black;

  &__piece-img {
    width: 56px;
    height: 56px;
    padding: 12px;
    cursor: pointer;

    &:hover {
      scale: 1.3;
    }
  }

  .piece-selected {
    scale: 1.3;
    background-color: #f07705;
    padding: 0px;
  }

  .row {
    display: flex;
  }

  .dark,
  .white {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      filter: brightness(0.8);
    }
  }

  .dark {
    color: #5f5f5d;
    background-color: #5f5f5d;
  }

  .white {
    color: beige;
    background-color: beige;
  }

  .possible {
    padding: -5px;
  }

  .single-square {
    position: relative;
  }

  .valid-moves {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #f07705;
  }
  .v1 {
    top: 0px;
    width: 100%;
  }
  .v2 {
    right: 0px;
    height: 100%;
  }
  .v3 {
    bottom: 0px;
    width: 100%;
  }
  .v4 {
    left: 0px;
    height: 100%;
  }
}
